$--color1: #ffffff;
$--color2: #000000;

$--background1: #18414E;
$--background4: #28536B;

/* Variables formulario */

$--background2: #ffffffff;
$--color2: #ffffff;
$--box-shadow: 0px 0px 3px 0px #212529;
$--background3: #040710;

$--border: $--background3 6px solid;
$--border-hitbox: 2px red solid;
$--border2: 4px #000000 solid;
$--border3: 4px #242323 solid;